@import url("https://fonts.googleapis.com/css?family=Rubik|Bitter");
@import "flexboxgrid";
@import "colors";
@import "typography";
@import "layout";
@import "base";

@media(max-width: 48em) {
  body .container {
    padding: $vertical-rhythm * 2 $vertical-rhythm;
  }
  nav {
    // Hide menu links between logo and hamburger menu
    div:not(:first-child):not(:last-child) {
      display: none;
    }
    div.nav-toggle a {
      display: inline-block;
    }
  }
}
@media(max-width: 25em) {
  body .container {
    padding: $vertical-rhythm * 2 $vertical-rhythm;
  }
  nav {
    div.logo, div.nav-toggle {
      max-width: 50% !important;
    }
  }

}

@keyframes "blink" {
  from, to { color: transparent; }
  50% { color: $black; }
}


header {
position: relative;

.title {
padding-top: 20vh;
z-index: 150;
  h1 {
    color: $white;
    font-size: 6em;
    line-height: 0.75em;
    letter-spacing: 0px;
    margin: 0;
  }
  strong {
    color: $white;
    position: relative;
    margin-left: 10px;
  }


  .button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    margin: 0.5em 0.75em;
    background-color: $grey;
    color: $white;
    border-radius: 25px;
    text-align: center;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $red;
    }

  }
}
  .queryline {
    width: 100%;
    background-color: #65686b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 64px;
    letter-spacing: 1px;
    p {
      margin: 1em 0 0;
      padding: 1em;
      padding-right: 3em;
      em {
        color: $white;
      }
    }
    .signature-img {
      display: inline-block;
      max-height: 3em;
      margin-bottom: 1em;
            padding-right: 3em;
    }
  }

.video-container{
  position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 10;

  #video-background {

    min-height: 100%;
    width: 100%;
  }

}

@media (max-width: 60em) {
  .title {
    padding-top: 20vh;
  }
    h1 {
      font-size: 4em;
      line-height: 2em;
    }
  .queryline {

    bottom: 0;

    p {
      font-size: 1em;
    }
    .signature-img {

      max-height: 2em;
      margin-bottom: 0.5em;
            padding-right: 0;
    }
  }


}


@media (max-width: 30em) {
    .title {
      top: -5vh;
    h1 {
      font-size: 4em;
      line-height: 0.75em;
    }

  }
  .queryline {

    bottom: 0;

    p {
      font-size: 1em;
      padding: 1em;
      margin: 0;
    }
    .signature-img {

      max-height: 2em;
      margin-bottom: 0.5em;
            padding-right: 0;
    }
  }
  .video-container {


  #video-background {

    height: 100%;
    width: auto;


  }
    }
}
}
nav {
  height: $vertical-rhythm * 2;
  width: 100%;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  z-index: 200;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .4 );
  a {
    color: $grey;
  }
  h3 {
    margin: 0;
    font-family: $grey;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1em;
  }

  img {
    display: inline-block;
    max-width: 10em;
    max-height: 2.5em;
    vertical-align: middle;
  }
  div.logo, div.nav-toggle, div.buy-button {
    visibility: hidden;
    max-width: none;
  }
  .logo {
    position: absolute;
    left: 2em;
  }
  .nav-toggle{
    position: absolute;
    right: 2em;
    img {
      transform: scale(0.8);
    }
  }
  .buy-button {
    position: absolute;
    right: 2em;
    .button {
      display: inline-block;
      width: 100%;
      padding: 8px 1em;
      background-color: $grey;
      color: $white;
      border-radius: 25px;
      text-align: center;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $red;
      }
    }
  }
  .nav-toggle a {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav {
    padding-left: 5em;
  h3 {
    font-size: 0.75em;
  }
}
}
.nav-fixed {
  position: fixed;
  top: 0;
  bottom: auto;
}
.nav-full {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  right: -100vw;
  height: 100%;
  background-color: $black;
  transform: translate(0px, 0px);
  transition: 0.25s ease-out;
  a {
    color: #FFF;
    &:hover {
      color: $red;
    }
  }
}
.nav-full.active {
  transform: translate(-100vw, 0px);
}
main {
  background-color: #fff;
  transform: translate(0px, 0px);
  transition: 0.25s ease-in;
}
main.active {
  transform: translate(-100vw, 0px);
}
.container {
  max-width: 43.750rem; // 700px
  padding: $vertical-rhythm * 2 0 $vertical-rhythm * 2;
  margin: auto;
}
.wide-container {
  max-width: 80rem; // 1400px
  padding-top: $vertical-rhythm * 2;
  margin: auto;
}
p {
  margin-bottom: $vertical-rhythm;
  code {
    font-family: $font-code;
  }
}
h1, h2, h3 {
  font-family: $font-header;
  margin-top: $vertical-rhythm;
  letter-spacing: 2px;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

main h1 {
  text-align: left;
  color: $red;
  font-weight: bold;
}

.posts-list {
  margin: 0 0 $vertical-rhythm;
}
.sub-header, time {
  @include size(p);
  color: $storm;
  margin-bottom: $vertical-rhythm;
}
.content {
  text-align: left;
  width: 100%;
  time {
    margin-left: 3px;
  }
  a {
    text-shadow: 0.03em 0 #fff,
    -0.03em 0 #fff,
    0 0.03em #fff,
    0 -0.03em #fff,
    0.06em 0 #fff,
    -0.06em 0 #fff,
    0.09em 0 #fff,
    -0.09em 0 #fff,
    0.12em 0 #fff,
    -0.12em 0 #fff,
    0.15em 0 #fff,
    -0.15em 0 #fff,
    0.03em 0.075em #fff,
    -0.03em 0.075em #fff,
    0.06em 0.075em #fff,
    -0.06em 0.075em #fff,
    0.09em 0.075em #fff,
    -0.09em 0.075em #fff,
    0.12em 0.075em #fff,
    -0.12em 0.075em #fff,
    0.15em 0.075em #fff,
    -0.15em 0.075em #fff;
    background-image: linear-gradient($red,$red);
    background-size: 1px 2px;
    background-repeat: repeat-x;
    background-position: 0 95%;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
}
.highlight {
  margin: 10px 0;
}
.pagination {
  margin: 50px 0 0;
  :nth-child(2) {
    float: right;
  }
}
.full {
  height: 100vh;
  top: 0;
  bottom: 0;
}
.about {
  width: 100%;
  p {
    margin-top: $vertical-rhythm;
  }
  h2 strong {
    color: $red;
  }
  h4 {
    text-transform: uppercase;
    color: $grey;
  }
  img {
    max-width: 80%;
    position: relative;
    top: -4em;
  }
  @media (max-width: 60em) {
    img {
      max-width: 60%;
      top: 0;
    }
  }
  .icon-link {
      width: $social-icon-size;
      height: $social-icon-size;
      background-color: $social-default-btn-color;
      line-height: $social-icon-size;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      outline: none;
      margin: 5px;
      box-sizing: content-box;

      &.round {
        border-radius: 50%;
      }


      &:hover {
        transition: background-color 150ms ease-in-out;
        height: $social-icon-size - $social-icon-border * 2;
        line-height: $social-icon-size - $social-icon-border * 2;
        width: $social-icon-size - $social-icon-border * 2;
        background-color: #fff;

        @each $social-alias, $social-color in $social-color-pallete {
          &.#{$social-alias} {
            border: $social-icon-border solid $social-color;
          }
        }

        .fa {
          line-height: $social-icon-size - $social-icon-border * 2;
        }

        @each $social-alias, $social-color in $social-color-pallete {
          .fa-#{$social-alias} {
              color: $social-color;
              transition: color 150ms ease-in-out;
          }
        }
    }

    .fa{
      color: $social-default-icon-color;
      line-height: $social-icon-size;
      font-size: $social-icon-size - $social-icon-size * 0.40;
    }
  }
}
.gallery {

  margin: auto;

  div[class^="col-"], div[class*=" col-"] {
    padding: 0;
    position: relative;
  }

  .gallery-container{
    margin: 0 1em;
  }
}
.title{
  position: absolute;
  top: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  h2 {
    color: $grey;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    text-align: left;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
  }
  h4 {
    color: $grey;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

#authors {
  padding: $vertical-rhythm * 2 0;
  h1 {
    color: $white;
  }
  .author-bio {
    background-color: $white;
    padding: 2rem;
    padding-bottom: 0;

    strong {
      color: $red;
    }


  }
  img {
    border-radius: 50%;
  }
}
.blog {
  min-height: 100vh;
  h3 {
    margin: 0 0 $vertical-rhythm;
    font-family: $font-body;
  }
}
#foxes {
  .slider-container {
    position: relative;
        background-color: #65686b;

        padding: 0;

    .siema {
      margin: 1em 0;
      .inner-container{
        padding: 2em 6em 0;
        p, strong, em {
                  color: #FFF;
        }
        p:nth-child(1){
          position: relative;

          &::before {
            content: "''";
            font-size: 2em;
            line-height: 0.5em;
            color: $red;
            position: absolute;
            top: 6px;
            left: -20px;
          }

        &::after {
          content: "''";
          font-size: 2em;
          line-height: 0.5em;
          color: $red;
          position: relative;
          top: 6px;
          right: -6px;

        }
      }
        p:nth-last-child(1){
          text-align: right;
          margin-right: 2em;
        &::before {
          content: "- ";
          font-size: 2em;
          color: $red;
          position: relative;

        }
      }

      }
    }


    button {
      background-color: transparent;
      position: absolute;
      top: 40%;
      width: 1em;
      outline: none;
      cursor: pointer;

      &.prev {
        left: 1em;
      }

      &.next {
        right: 1em;
      }

    }
  }
}

@media(max-width:48em) {
  #foxes {
    .slider-container {
      .siema {
        margin: 1em 0;
        .inner-container {
          padding: 2em 2.5em 0;
        }
      }
    }
  }
}

#instafeed {
  max-width:1080px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    background: white;

    @media only screen and (min-width: 1080px) {
      width: 25%;
    }

    img {
      display: block;
      width: 100%;
      transition: transform 0.3s ease-in-out;
      transform: scale(0.8);
    }
    &:hover img{
      transform: scale(1);
    }
    &hover img::after{
      box-shadow: black 5px 5px 5px 5px;
    }
  }
}

.contact {
  width: 100%;
  background-color: $smoke;
  padding-bottom: $vertical-rhythm * 2;

  form {
    margin-top: $vertical-rhythm;
  }

  .contact-submit {
    position: relative;
  }

  #form-submit {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  #form-thankyou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

input {
  background-color: #FFF;
  border-color: $smoke;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  color: $black;
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  &[type="submit"] {
    background-color: $storm;
    color: #FFF;
    transition: .2s ease-out;
    &:hover {
      background-color: $red;
      color: #FFF;
      cursor: pointer;
    }
  }
}
textarea {
  @extend input;
  min-height: $vertical-rhythm * 4;
  overflow: auto;
}
footer {
  height: $vertical-rhythm * 6;
  background-color: $black;
  div, a {
    color: #FFF;
  }
}
