{{ if .Site.Params.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ if .IsHome }}
  <header class="row middle-xs center-xs">
    <div class="col-xs-12" style="padding-bottom: 15%;">
          <h1>affected</h1>
          <strong>{{ .Site.Params.tagline }}</strong>
          <br><br>
          <!-- <img src="{{ .Site.Params.logoBig}}" alt="{{ .Site.Title }}"> -->
          <a href="https://www.wiley.com/en-au/Affected%3A+Emotionally+Engaging+Customers+in+The+Digital+Age-p-9780730357018 " class="button">BUY THE BOOK</a>
          <a href="https://affected.eventbrite.com.au" class="button">RSVP LAUNCH</a>
    </div>
    <video autoplay loop id="video-background" muted plays-inline>
      <source src="/videos/affected.webm" type="video/webm">
      <source src="/videos/affected.mp4" type="video/mp4">
    </video>
    <div class="queryline row middle-xs end-xs">
      <div class="col-xs-10">
        <p><em>{{ .Site.Params.queryline }}</em></p>
        <img class="signature-img" src="/images/sig.png"/>
      </div>
    </div>
  </header>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-4 col-sm-1 logo">
    <a href="{{ .Site.BaseURL }}#">
      <img src="{{ .Site.Params.logoSmall }}" alt="{{ .Site.Title }}">
    </a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-2 col-sm-2">
        <h3><a data-scroll href="{{ .URL }}">{{ .Name }}</a></h3>
      </div>
    {{ end }}
    <div class="col-xs-2 col-sm-2 buy-button">
      <a href="https://www.wiley.com/en-au/Affected%3A+Emotionally+Engaging+Customers+in+The+Digital+Age-p-9780730357018 " class="button">BUY THE BOOK</a>
    </div>

  <div class="col-xs-4 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false"><img src="/images/icon-menu.png" alt="Open Menu"><img src="/images/icon-x.png" alt="Close Menu" style="display: none;"></a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a data-scroll href="{{ .URL }}">{{ .Name }}</a></h1></div>
      {{ end }}
      <div class="col-xs-12"><h1><a href="https://www.wiley.com/en-au/Affected%3A+Emotionally+Engaging+Customers+in+The+Digital+Age-p-9780730357018 " class="button">BUY THE BOOK</a></h1></div>
    </div>
  </div>
</section>
