{{ $directory := "content/" }}
{{ $filename := "foxes.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="foxes" id="foxes">
    <div class="row">

    {{ $foxes := (where .Site.RegularPages "Section" "foxes") }}


      <div class="col-xs-12 middle-xs slider-container">
        <div class="siema">
        {{ range $foxes }}
          <div class="inner-container"> {{ .Content }} </div>
        {{ end }}
        </div>
        <button class="prev"><img src="/images/icon-arrow-left.png"></button>
        <button class="next"><img src="/images/icon-arrow-right.png"></button>
      </div>

    </div>
    <div class="wide-container middle-xs">
      <div class="row">
        <div class="col-xs-12 center-xs">
          <div id="instafeed">
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
          <script type="text/javascript">
            var userFeed = new Instafeed({
              get: 'user',
              userId: '7436678772',
              clientId: '876adb5529a14dcd9b633147b6838da1',
              accessToken: '7436678772.1677ed0.c676c8abf41549f0b4b30239b781ffdf',
              resolution: 'standard_resolution',
              template: '<a href="\{\{link\}\}" target="_blank" id="\{\{id\}\}"><img src="\{\{image\}\}" /></a>',
              sortBy: 'most-recent',
              links: false,
              limit: 16
            });
            userFeed.run();
          </script>
        </div>
      </div>
    </div>
  </section>
{{ end }}
