<section class="gallery" id="structure">
  <div class="wide-container">
    <div class="row center-xs">
      <div class="col-xs-12">
        <h1>book structure</h1>
      </div>
    </div>
  </div>


    <div class="row gallery-container">



        {{ $galleryTotal := len (where .Site.RegularPages "Section" "structure") }}
        {{ $galleryReverse := (where .Site.RegularPages.Reverse "Section" "structure") }}

        <!-- {{ $chapters := .Params.chapters }}

        {{ range $chapters }}
         {{ .title }}
         {{ end }} -->


        {{ range first 3 $galleryReverse }}
            <div class="col-xs-12 col-md-4">
                <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                <div class="row center-xs overlay">
                  <div class="chapters">
                    {{ range .Params.Chapters }}
                          <h3>{{ index . 0 }}</h3>
                          <h4>{{ index . 1 }}</h4>
                    {{ end }}
                  </div>
                </div>
                <div class="row center-xs title">
                    <h4>{{ .Params.Part }}</h4>
                    <h2>{{ .Title }}</h2>
                </div>
            </div>
        {{ end }}

    </div>
</section>
